<% javascript 'pages/chapter3.js' %>
<span><%= link_to "Check Time", { :action => 'get_time' }, :id => "time", :remote => true, :"data-replace" => '#current_time' %></span>
<span>: </span><span id="current_time">Time</span><span id="counter"></span>
<%= form_tag('/chapter3/reverse', :method => :get, :id => "submit_reverse", :remote => true) do -%>
  <span><br /><%=label_tag 'text_to_reverse','Text to reverse:' %> <%= text_field_tag 'text_to_reverse' %></span>
  <span id='reversed'>&nbsp;</span>
  <p><%= submit_tag 'Reverse!', :disable_with => 'Please wait...' %></p>
<% end -%>
